/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Reset / Normalize
# Libraries / Frameworks
# Vendor
# Globals / Variables
# Patterns
# Components
# Responsive

/*--------------------------------------------------------------
# Reset / Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Libraries / Frameworks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Vendor
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Globals / Variables
--------------------------------------------------------------*/
@font-face {
	font-family: '';
	src: url("fonts/-webfont.eot");
	/* IE9 Compat Modes */
	src: url("fonts/-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/-webfont.woff") format("woff"), url("fonts/-webfont.ttf") format("truetype"), url("fonts/-webfont#") format("svg");
	/* Legacy iOS */
	font-weight: 300;
}

/* --------------------- */
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
	font-style: normal;
}

h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
	font-family: "HelvNeueBldItalic", sans-serif;
}

h1.bg-line, h2.bg-line, h3.bg-line, h4.bg-line, h5.bg-line, h6.bg-line {
	display: block;
	text-align: center;
	background: url("../img/bg-line.png") no-repeat center center;
	line-height: 1;
	font-weight: 400;
	color: #848484;
	margin-top: 0;
	margin-bottom: 1em;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
	font-weight: 700;
}

h5 {
	line-height: 1.5;
}

ul, ol {
	font-size: 20px;
	margin-bottom: 10px;
	padding-left: 0;
	list-style-position: inside;
}

ul li, ol li {
	margin-bottom: 0;
}

a {
	outline: none;
}

a:focus {
	outline: none;
}

blockquote {
	border: none;
	font-family: "HelvNeueLtIt";
	color: #4178ba;
	padding: 10px 0;
}

blockquote span {
	font-family: "HelvNeue", sans-serif;
	font-weight: 700;
	margin-top: 1em;
	display: block;
	color: #4178ba;
}

.btn {
	padding: 9px 12px 6px 12px;
}

.container {
	-webkit-transition: all 500ms ease-out 1s;
	transition: all 500ms ease-out 1s;
}

.page-container {
	position: relative;
	margin: 0 auto;
	max-width: 1300px;
}

section {
	margin-top: 60px;
}

.row.collapse-margin {
	margin-left: 0;
	margin-right: 0;
}

.row.blue-transparent {
	background: rgba(90, 170, 250, 0.6);
}

/*--------------------------------------------------------------
# Patterns
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
#mapid {
	height: 500px;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
