@font-face {
font-family: '';
src: url('fonts/-webfont.eot'); /* IE9 Compat Modes */
src: url('fonts/-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/-webfont.woff') format('woff'), /* Pretty Modern Browsers */
     url('fonts/-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('fonts/-webfont#') format('svg'); /* Legacy iOS */
font-weight: 300;
 }
